<div class="jumbotron">
    <div class="container">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Formato de Preinscripción</h3>
	</div>
	<div class="panel-body">
		<form #nuevoAlumnoForm='ngForm' (submit)='guardarAlumno()'>
			<div>
				<legend>Datos de usuario</legend>
				<div class="form-group col-md-6">
					<label for="email">Email</label>
					<input type="text" class="form-control" id="email" name="email" placeholder="Email"
						[(ngModel)]='userLogin.email' #email='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="password">Password</label>
					<input type="text" class="form-control" type="password" id="password"
						name="password" placeholder="Password"
						[(ngModel)]='userLogin.password' #password='ngModel' autocomplete="off">
				</div>
			</div>
			<div>
				<legend>Datos Personales</legend>
				<div *ngIf='estaInscrito()' class="form-group col-md-6">
					<label for="">No. Matricula</label>
					<input type="text" class="form-control" id="noMatricula" name="noMatricula" placeholder="No. Matricula"
					[(ngModel)]='nuevoAlumno.noMatricula' #noMatricula='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Nombre</label>
					<input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Nombre"
					[(ngModel)]='nuevoAlumno.Nombre' #Nombre='ngModel'
					[value]='dateObj | date' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Apellido Paterno</label>
					<input type="text" class="form-control" id="ApellidoP" name="ApellidoP" placeholder="Apellido Paterno"
					[(ngModel)]='nuevoAlumno.ApellidoP' #ApellidoP='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Apellido Materno</label>
					<input type="text" class="form-control" id="ApellidoM" name="ApellidoM" placeholder="Apellido Materno"
					[(ngModel)]='nuevoAlumno.ApellidoM' #ApellidoM='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Fecha de Nacimiento</label>
					<input type="date" class="form-control" id="FechaNac" name="FechaNac" placeholder="Fecha de Nacimiento"
					[(ngModel)]='nuevoAlumno.FechaNac'
					[value]="nuevoAlumno.FechaNac" autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Sexo</label>
					<select name="sexo" id="sexo" class="form-control" [(ngModel)]='nuevoAlumno.sexo'>
						<option selected="selected" value="Seleccione...">Seleccione...</option>
						<option value="MASCULINO">MASCULINO</option>
						<option value="FEMENINO">FEMENINO</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="">Estado Civil</label>
					<select name="EstadoCivil" id="EstadoCivil" class="form-control" [(ngModel)]='nuevoAlumno.EstadoCivil'>
						<option selected="selected" value="Seleccione...">Seleccione...</option>
						<option value="SOLTERO">SOLTERO</option>
						<option value="CASADO">CASADO</option>
						<option value="DIVORCIADO">DIVORCIADO</option>
						<option value="UNION LIBRE">UNION LIBRE</option>
						<option value="VIUDO">VIUDO</option>
					</select>

				</div>
				<div class="form-group col-md-6">
					<label for="">Numero de hijos</label>
					<select name="NumHijos" id="NumHijos" class="form-control" [(ngModel)]='nuevoAlumno.NumHijos'>
						<option selected="selected" value="Seleccione...">Seleccione...</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>

					</select>

				</div>
				<div class="form-group col-md-6">
					<label for="">Padre o Tutor</label>
					<input type="text" class="form-control" id="PadreTutor" name="PadreTutor" placeholder="Padre o Tutor"
					[(ngModel)]='nuevoAlumno.PadreTutor' #PadreTutor='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Curp</label>
					<input type="text" class="form-control" id="Curp" name="Curp" placeholder="Curp"
					[(ngModel)]='nuevoAlumno.Curp' #Curp='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">RFC</label>
					<input type="text" class="form-control" id="RFC" name="RFC" placeholder="RFC"
					[(ngModel)]='nuevoAlumno.RFC' #RFC='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">¿Perteneces a alguna etnia o grupo indígena reconocido?</label>
					<select name="GrupoEtnico" id="GrupoEtnico" class="form-control" [(ngModel)]='nuevoAlumno.GrupoEtnico'>
						<option selected="selected" value="Seleccione...">Seleccione...</option>
						<option value="Seri">Seri</option>
						<option value="Yaqui">Yaqui</option>
						<option value="Opata">Opata</option>
						<option value="Triqui">Triqui</option>
						<option value="Mayo">Mayo</option>
						<option value="Otra">Otra</option>
						<option value="No pertenezco">No pertenezco</option>

					</select>

				</div>
				<div class="form-group col-md-6">
					<label for="">¿Trabaja usted en alguna empresa? En caso afirmativo, indíquela por favor</label>
					<input type="text" class="form-control" id="TrabajoDeAlumno" name="TrabajoDeAlumno" placeholder="Nombre del Trabajo"
					[(ngModel)]='nuevoAlumno.RFC' #RFC='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Número de dependientes económicos</label>
					<select name="NumDependientes" id="NumDependientes" class="form-control" [(ngModel)]='nuevoAlumno.NumDependientes'>
						<option selected="selected" value="Seleccione...">Seleccione...</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>

					</select>

				</div>
				
				<legend>Lugar de Nacimiento y Nacionalidad</legend>

				<div class="form-group col-md-6">
					<label for="">Municipio</label>
					<input type="text" class="form-control" id="" name="Municipio" placeholder="Municipio"
					[(ngModel)]='nuevoAlumno.Municipio' #Municipio='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Estado</label>
					<select name="Estado" id="Estado" class="form-control" [(ngModel)]='nuevoAlumno.Estado'>
					<option value="1">AGUASCALIENTES</option>
					<option value="2">BAJA CALIFORNIA NORTE</option>
					<option value="3">BAJA CALIFORNIA SUR</option>
					<option value="4">CAMPECHE</option>
					<option value="5">COAHUILA</option>
					<option value="6">COLIMA</option>
					<option value="7">CHIAPAS</option>
					<option value="8">CHIHUAHUA</option>
					<option value="9">DISTRITO FEDERAL</option>
					<option value="10">DURANGO</option>
					<option value="11">GUANAJUATO</option>
					<option value="12">GUERRERO</option>
					<option value="13">HIDALGO</option>
					<option value="14">JALISCO</option>
					<option value="15">MEXICO</option>
					<option value="16">MICHOACAN</option>
					<option value="17">MORELOS</option>
					<option value="18">NAYARIT</option>
					<option value="19">NUEVO LEON</option>
					<option value="20">OAXACA</option>
					<option value="21">PUEBLA</option>
					<option value="22">QUERETARO</option>
					<option value="23">QUINTANA ROO</option>
					<option value="24">SAN LUIS POTOSI</option>
					<option value="25">SINALOA</option>
					<option value="26">SONORA</option>
					<option value="27">TABASCO</option>
					<option value="28">TAMAULIPAS</option>
					<option value="29">TLAXCALA</option>
					<option value="30">VERACRUZ</option>
					<option value="31">YUCATAN</option>
					<option value="32">ZACATECAS</option>
					<option value="33">NAC. EXTRANJERO</option>
					<option selected="selected" value="Seleccione...">Seleccione...</option>

				</select>

				</div>
				<div class="form-group col-md-6">
					<label for="">País</label>
					<input type="text" class="form-control" id="" name="Pais" placeholder="Pais"
					[(ngModel)]='nuevoAlumno.Pais' #Pais='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">¿Eres Extranjero?</label>
					
				</div>
				<div class="form-group col-md-6">
					<label for="">En caso de tener nacionalidad extranjera, ¿Tienes padre o madre mexicano? </label>
					
				</div>

				<legend>Informacion de salud</legend>
				<div class="form-group col-md-6">
					<label for="">Peso</label>
					<input type="text" class="form-control" id="" name="Peso" placeholder="Peso"
					[(ngModel)]='nuevoAlumno.Peso' #Peso='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Estatura</label>
					<input type="text" class="form-control" id="" name="Estatura" placeholder="Estatura"
					[(ngModel)]='nuevoAlumno.Estatura' #Estatura='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Tipo de Sangre</label>
					<select name="TipoSangre" id="" class="form-control" [(ngModel)]='nuevoAlumno.TipoSangre'>
					<option selected="selected" value="Seleccione...">Seleccione...</option>
					<option value="A+">A+</option>
					<option value="A-">A-</option>
					<option value="AB+">AB+</option>
					<option value="AB-">AB-</option>
					<option value="B+">B+</option>
					<option value="B-">B-</option>
					<option value="O+">O+</option>
					<option value="O-">O-</option>

				</select>

				</div>
				<div class="form-group col-md-6">
					<label for="">Antecedentes médicos</label>
					<select name="AntecedMedicos" id=""  class="form-control" [(ngModel)]='nuevoAlumno.AntecedMedicos'>
					<option selected="selected" value="Seleccione...">Seleccione...</option>
					<option value="FAMILIAR DIABETICO">FAMILIAR DIABETICO</option>
					<option value="FAMILIAR HIPERTENSO">FAMILIAR HIPERTENSO</option>
					<option value="FAMILIAR CARDIACO">FAMILIAR CARDIACO</option>
					<option value="NINGUNO">NINGUNO</option>
					<option value="OTRO">OTRO</option>

				</select>

				</div>
				<div class="form-group col-md-6">
					<label for="">Especificar otros antecedentes</label>
					<input type="text" class="form-control" id="" name="OtroAnteced" placeholder="Otro Antecedente"
					[(ngModel)]='nuevoAlumno.OtroAnteced' #OtroAnteced='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">¿Cuenta con alguna capacidad diferente?</label>
					<select name="discapacidad" id="" class="form-control" [(ngModel)]='nuevoAlumno.discapacidad'>
					<option value="Debilidad Visual">Debilidad Visual</option>
					<option value="Debilidad Auditiva">Debilidad Auditiva</option>
					<option value="Motriz">Motriz</option>
					<option value="Sensorial">Sensorial</option>
					<option value="Cognito Intelectual">Cognito Intelectual</option>
					<option value="Psicosocial">Psicosocial</option>
					<option value="Otra">Otra</option>
					<option selected="selected" value="Ninguna">Ninguna</option>

				</select>

				</div>
				<div class="form-group col-md-6">
					<label for="">Número de Seguridad Social (IMSS)</label>
					<input type="text" class="form-control" id="" name="NumSeguroSocial" placeholder="Numero de SeguroSocial"
					[(ngModel)]='nuevoAlumno.NumSeguroSocial' #NumSeguroSocial='ngModel' autocomplete="off">
				</div>

				<legend>Domicilio Particular</legend>
				<div class="form-group col-md-6">
					<label for="">Calle</label>
					<input type="text" class="form-control" id="" name="Calle" placeholder="Calle"
					[(ngModel)]='nuevoAlumno.Calle' #Calle='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Colonia </label>
					<input type="text" class="form-control" id="" name="Colonia" placeholder="Colonia"
					[(ngModel)]='nuevoAlumno.Colonia' #Colonia='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Ciudad</label>
					<input type="text" class="form-control" id="" name="Ciudad" placeholder="Ciudad"
					[(ngModel)]='nuevoAlumno.Ciudad' #Ciudad='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Estado</label>
					<input type="text" class="form-control" id="" name="EstadoDomi" placeholder="Estado"
					[(ngModel)]='nuevoAlumno.EstadoDomi' #EstadoDomi='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Numero exterior</label>
					<input type="text" class="form-control" id="" name="NumExterior" placeholder="Numero de Exterior"
					[(ngModel)]='nuevoAlumno.NumExterior' #NumExterior='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Código postal</label>
					<input type="text" class="form-control" id="" name="CodPost" placeholder="Codigo Postal"
					[(ngModel)]='nuevoAlumno.CodPost' #CodPost='ngModel' autocomplete="off">
				</div>

				<legend>Datos de Contacto</legend>
				<div class="form-group col-md-6">
					<label for="">Teléfono de casa</label>
					<input type="text" class="form-control" id="" name="TelefonoCasa" placeholder="Telefono de Casa"
					[(ngModel)]='nuevoAlumno.TelefonoCasa' #TelefonoCasa='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Teléfono celular</label>
					<input type="text" class="form-control" id="" name="TelefonoCel" placeholder="Telefono de Celular"
					[(ngModel)]='nuevoAlumno.TelefonoCel' #TelefonoCel='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-6">
					<label for="">Facebook</label>
					<input type="text" class="form-control" id="" name="Facebook" placeholder="Ingrese su Facebook"
					[(ngModel)]='nuevoAlumno.Facebook' #Facebook='ngModel' autocomplete="off">
				</div>

				<legend>Escuela de Procedencia</legend>
				<div class="form-group col-md-6">
					<label for="">Preparatoria</label>
					<select name="Preparatoria" id="" class="form-control" [(ngModel)]='nuevoAlumno.Preparatoria'>
					<option value="270">ACADEMIA DE POLICIA DE CAJEME</option>
					<option value="121">BEDR 29</option>
					<option value="122">BEDR 71</option>
					<option value="123">BEDR 88</option>
					<option value="114">CBTA 132</option>
					<option value="115">CBTA 161</option>
					<option value="116">CBTA 197</option>
					<option value="110">CBTA 26</option>
					<option value="118">CBTA 262</option>
					<option value="119">CBTA 263</option>
					<option value="120">CBTA 264</option>
					<option value="111">CBTA 38</option>
					<option value="112">CBTA 53</option>
					<option value="117">CBTA 53 EXTENSION MAZATLAN</option>
					<option value="113">CBTA 97</option>
					<option value="100">CBTIS No. 106</option>
					<option value="93">CBTIS No. 11</option>
					<option value="101">CBTIS No. 129</option>
					<option value="102">CBTIS No. 132</option>
					<option value="103">CBTIS No. 188</option>
					<option value="104">CBTIS No. 206</option>
					<option value="105">CBTIS No. 207</option>
					<option value="94">CBTIS No. 33</option>
					<option value="95">CBTIS No. 37</option>
					<option value="96">CBTIS No. 40</option>
					<option value="97">CBTIS No. 63</option>
					<option value="98">CBTIS No. 64</option>
					<option value="99">CBTIS No. 81</option>
					<option value="209">CEBACH</option>
					<option value="246">CECATI No. 118</option>
					<option value="247">CECATI No. 124</option>
					<option value="244">CECATI No. 23</option>
					<option value="243">CECATI No. 69</option>
					<option value="245">CECATI No. 94</option>
					<option value="1">CECYTES BACAME NUEVO</option>
					<option value="2">CECYTES BACOBAMPO</option>
					<option value="3">CECYTES BACUM</option>
					<option value="4">CECYTES BANAMICHI</option>
					<option value="5">CECYTES BENJAMIN HILL</option>
					<option value="6">CECYTES CAJEME</option>
					<option value="7">CECYTES EJIDO 24 DE FEBRERO</option>
					<option value="8">CECYTES EJIDO. FCO. JAVIER MINA</option>
					<option value="9">CECYTES ESPERANZA</option>
					<option value="10">CECYTES GRANADOS</option>
					<option value="11">CECYTES HERMOSILLO I LA MANGA</option>
					<option value="12">CECYTES HERMOSILLO II A ALTO VALLE</option>
					<option value="13">CECYTES HERMOSILLO III EL MARIACHI</option>
					<option value="14">CECYTES HERMOSILLO IV JUSTO SIERRA</option>
					<option value="15">CECYTES HERMOSILLO V PUEBLITOS</option>
					<option value="16">CECYTES ING. CARLOS RENE LEYVA BARRERA BACAME</option>
					<option value="17">CECYTES LUIS B. SANCHEZ</option>
					<option value="18">CECYTES NAVOJOA</option>
					<option value="19">CECYTES NOGALES    </option>
					<option value="20">CECYTES NOGALES II </option>
					<option value="21">CECYTES PLUTARCO ELIAS CALLES</option>
					<option value="22">CECYTES POBLADO MIGUEL ALEMAN</option>
					<option value="23">CECYTES SAHUARIPA</option>
					<option value="24">CECYTES SAN LUIS RIO COLORADO</option>
					<option value="25">CECYTES SAN PEDRO EL SAUCITO</option>
					<option value="26">CECYTES SANTA ANA</option>
					<option value="135">CENTRO DE CIENCIAS Y HUMANIDADES CAJEME</option>
					<option value="157">CENTRO DE EDUCACION BILING&#220;E</option>
					<option value="271">CENTRO DE ESTUDIOS CAMPOS A.C.</option>
					<option value="281">CENTRO DE ESTUDIOS TECNOLOGICOS Y DE CAPACITACION EN COMPUTACION, A.C.</option>
					<option value="183">CENTRO DE FORMACION PARA LA VIDA DIARIA A.C. (EEVA)</option>
					<option value="278">CENTRO EDUCACE A.C.</option>
					<option value="155">CENTRO EDUCATIVO CDI ALFAES</option>
					<option value="149">CENTRO ESCOLAR CAMPO GRANDE A.C.</option>
					<option value="232">CENTRO INTEGRAL DE EDUCACION MEDIA DE SAN LUIS</option>
					<option value="175">CENTRO INTEGRAL DE EDUCACION MEDIA DE SAN LUIS, A.C.</option>
					<option value="139">CESIN CENTRO DE ESTUDIOS DE NAVOJOA</option>
					<option value="107">CETIS No. 128</option>
					<option value="106">CETIS No. 69</option>
					<option value="124">CETMAR 03</option>
					<option value="125">CETMAR 14</option>
					<option value="126">CETMAR 22</option>
					<option value="127">CETMAR 32</option>
					<option value="54">COBACH ALAMOS</option>
					<option value="55">COBACH ALVARO OBREGON SALIDO</option>
					<option value="56">COBACH BAHIA DE KINO</option>
					<option value="57">COBACH CABORCA</option>
					<option value="53">COBACH EMPALME</option>
					<option value="58">COBACH ETCHOJOA</option>
					<option value="59">COBACH EUSEBIO FRANCISCO KINO</option>
					<option value="60">COBACH FAUSTINO FELIX SERNA</option>
					<option value="61">COBACH HERMOSILLO V</option>
					<option value="62">COBACH JOSE MARIA MAYTORENA TAPIA</option>
					<option value="63">COBACH NACOZARI DE GARCIA</option>
					<option value="64">COBACH NAVOJOA</option>
					<option value="65">COBACH NOGALES</option>
					<option value="66">COBACH NUEVO HERMOSILLO </option>
					<option value="67">COBACH OBREGON I</option>
					<option value="68">COBACH OBREGON II</option>
					<option value="69">COBACH OBREGON III </option>
					<option value="70">COBACH PLUTALCO ELIAS CALLES</option>
					<option value="71">COBACH PROFR. ERNESTO LOPEZ RIESGO</option>
					<option value="72">COBACH PUEBLO YAQUI</option>
					<option value="73">COBACH PUERTA REAL</option>
					<option value="74">COBACH PUERTO PEÑASCO</option>
					<option value="75">COBACH QUETCHEHUECA</option>
					<option value="51">COBACH REFORMA</option>
					<option value="76">COBACH SAN IGNACIO RIO MUERTO</option>
					<option value="77">COBACH SAN LUIS RIO COLORADO</option>
					<option value="78">COBACH SONOYTA</option>
					<option value="52">COBACH VILLA DE SERIS</option>
					<option value="263">COLEGIO AMERICANO DE SAN CARLOS, S.C.</option>
					<option value="152">COLEGIO ARCE</option>
					<option value="163">COLEGIO BENEMERITO DE LAS AMERICAS</option>
					<option value="267">COLEGIO BENEMERITO DE LAS AMERICAS S.C.</option>
					<option value="219">COLEGIO BOSCO JUAN NAVARRETE Y GUERRERO</option>
					<option value="227">COLEGIO CABRERA</option>
					<option value="211">COLEGIO DE BACHILLERES POR COOPERACION JUVENTUD DE AMERICA, A.C.</option>
					<option value="129">COLEGIO DE LA VERA-CRUZ TERESIANO</option>
					<option value="279">COLEGIO DEL MAYO, S.C.</option>
					<option value="262">COLEGIO DEL PACIFICO</option>
					<option value="143">COLEGIO DR. BRAULIO PEREZ MARCIO</option>
					<option value="156">COLEGIO EDIA</option>
					<option value="215">COLEGIO EDUCATIVO UNIVERSITARIO A.C.</option>
					<option value="147">COLEGIO EMAUS</option>
					<option value="128">COLEGIO ERICKSON</option>
					<option value="136">COLEGIO EXCELENCIA</option>
					<option value="196">COLEGIO FRANNDAM S.C.</option>
					<option value="221">COLEGIO GUADALUPANO DE BACHILLERATO, A.C.</option>
					<option value="159">COLEGIO ILUSTRACION, A.C.</option>
					<option value="193">COLEGIO JUAN BOSCO DE NOGALES, A.C.</option>
					<option value="154">COLEGIO LUX, A.C. </option>
					<option value="181">COLEGIO MARTINIE, S.C.</option>
					<option value="214">COLEGIO MARTINIE, S.C.</option>
					<option value="179">COLEGIO MIRANDA</option>
					<option value="153">COLEGIO MUÑOZ S.C. EL LLANO</option>
					<option value="264">COLEGIO MUÑOZ S.C. TURNO V/N</option>
					<option value="210">COLEGIO NACIONAL DE CAPACITACION Y BACHILLERATO (CNCYB)</option>
					<option value="145">COLEGIO NOGALES</option>
					<option value="180">COLEGIO NOGALES</option>
					<option value="269">COLEGIO NOVEL DE CAPACITACION INTENSIVA</option>
					<option value="131">COLEGIO PROGRESO</option>
					<option value="204">COLEGIO PROGRESO</option>
					<option value="146">COLEGIO REGIS</option>
					<option value="160">COLEGIO SONORA DE CD. OBREGON S.C.</option>
					<option value="164">COLEGIO UNIVERSITARIO DE BACHILLERES</option>
					<option value="138">COLEGIO VIZCAYA</option>
					<option value="142">COLEGIO VIZCAYA UNIDAD GUAYMAS</option>
					<option value="170">COLEGIO YOLANDA ANDRADE</option>
					<option value="79">CONALEP PLANTEL AGUA PRIETA</option>
					<option value="80">CONALEP PLANTEL CABORCA</option>
					<option value="81">CONALEP PLANTEL CD. OBREGON</option>
					<option value="82">CONALEP PLANTEL EMPALME</option>
					<option value="83">CONALEP PLANTEL GUAYMAS GRAL. P. ELIAS CALLES</option>
					<option value="84">CONALEP PLANTEL HERMOSILLO I</option>
					<option value="85">CONALEP PLANTEL HERMOSILLO II</option>
					<option value="86">CONALEP PLANTEL HERMOSILLO III </option>
					<option value="87">CONALEP PLANTEL HUATABAMPO ALVARO OBREGON</option>
					<option value="88">CONALEP PLANTEL MAGDALENA</option>
					<option value="89">CONALEP PLANTEL NACOZARI DE GARCIA</option>
					<option value="90">CONALEP PLANTEL NAVOJOA</option>
					<option value="91">CONALEP PLANTEL NOGALES</option>
					<option value="92">CONALEP PLANTEL SAN LUIS RIO COLORADO</option>
					<option value="27">EMSAD BACERAC</option>
					<option value="28">EMSAD BAHIA DE LOBOS</option>
					<option value="29">EMSAD BASIROA</option>
					<option value="30">EMSAD BUAYSIACOBE</option>
					<option value="31">EMSAD CARBO</option>
					<option value="32">EMSAD CUMPAS</option>
					<option value="33">EMSAD ESQUEDA</option>
					<option value="34">EMSAD GOLFO DE SANTA CLARA</option>
					<option value="35">EMSAD JUPARE</option>
					<option value="36">EMSAD LOS TANQUES</option>
					<option value="37">EMSAD MAQUIPO</option>
					<option value="38">EMSAD MASIACA</option>
					<option value="39">EMSAD NACO</option>
					<option value="40">EMSAD PESQUEIRA</option>
					<option value="41">EMSAD POTAM</option>
					<option value="42">EMSAD PUERTO LIBERTAD</option>
					<option value="43">EMSAD QUIRIEGO</option>
					<option value="44">EMSAD ROSARIO TESOPACO</option>
					<option value="45">EMSAD SAN PEDRO DE LA CUEVA</option>
					<option value="46">EMSAD SANTA MARIA DEL BUARAJE</option>
					<option value="47">EMSAD SUAQUI GRANDE</option>
					<option value="48">EMSAD TIERRA BLANCA</option>
					<option value="49">EMSAD TUBUTAMA</option>
					<option value="50">EMSAD YECORA</option>
					<option value="275">ESCUELA DE ENFERMERIA DEL IMSS</option>
					<option value="168">ESCUELA DE ENFERMERIA DEL IMSS CD. OBREGON</option>
					<option value="167">ESCUELA DE ENFERMERIA DEL IMSS HERMOSILLO</option>
					<option value="109">ESCUELA DE ENFERMERIA PABLO DE ANDA</option>
					<option value="166">ESCUELA DE ENFERMERIA PABLO DE ANDA A.C. NOGALES</option>
					<option value="108">ESCUELA PITIC</option>
					<option value="199">ESCUELA PREPARATORIA PROFR. MIGUEL CASTILLO OSUNA</option>
					<option value="190">ESCUELA PREPARATORIA DE UNIVERSIDAD UNILIDER</option>
					<option value="212">ESCUELA PREPARATORIA POR COOPERACION “GENERAL ENRIQUE ESQUEDA”, A.C.</option>
					<option value="235">FUNDACION PBRO. LUIS LOPEZ ROMO</option>
					<option value="205">ICADES, S.C.</option>
					<option value="240">ICATSON AGUA PRIETA</option>
					<option value="241">ICATSON CABORCA</option>
					<option value="238">ICATSON CAJEME</option>
					<option value="237">ICATSON CANANEA</option>
					<option value="242">ICATSON EMPALME</option>
					<option value="236">ICATSON HERMOSILLO</option>
					<option value="239">ICATSON NAVOJOA</option>
					<option value="177">ICES</option>
					<option value="207">ICSON</option>
					<option value="165">INSTITUTO ANGLO MEXICANO, A.C.</option>
					<option value="200">INSTITUTO BICULTURAL JULIETA E. MANRIQUEZ</option>
					<option value="201">INSTITUTO CABRERA</option>
					<option value="184">INSTITUTO DE ASISTENTE EDUCATIVO AC. (INASED)</option>
					<option value="280">INSTITUTO DE ASISTENTES EDUCATIVOS DE SONORA A.C.</option>
					<option value="274">INSTITUTO DE CAPACITACION SUTSPES</option>
					<option value="272">INSTITUTO DE CAPACITACION SUTSPES, UNIDAD GUAYMAS</option>
					<option value="203">INSTITUTO DE CIENCIAS Y EDUCACION SUPERIOR, A.C</option>
					<option value="268">INSTITUTO DE LA MODA</option>
					<option value="213">INSTITUTO DEL COBRE S.C.</option>
					<option value="251">INSTITUTO DEL OCCIDENTE S.C.</option>
					<option value="252">INSTITUTO EDUCATIVO  HERMOSILLO S.C.</option>
					<option value="234">INSTITUTO EDUCATIVO LOZANO CLARK</option>
					<option value="137">INSTITUTO GALY SAVATER</option>
					<option value="161">INSTITUTO KINO DE SAN LUIS, A.C.</option>
					<option value="130">INSTITUTO LA SALLE</option>
					<option value="169">INSTITUTO LEONS</option>
					<option value="133">INSTITUTO LIBERTAD JOSE VASCONCELOS</option>
					<option value="141">INSTITUTO MIRAVALLE</option>
					<option value="140">INSTITUTO REGIONAL DE GUAYMAS</option>
					<option value="144">INSTITUTO REGIONAL DE GUAYMAS UNIDAD ALTARES</option>
					<option value="134">INSTITUTO REGIONAL DE GUAYMAS-UNIDAD OBREGON</option>
					<option value="228">INSTITUTO SIRAITARE, S.C.</option>
					<option value="276">INSTITUTO SUPERIOR DE SEGURIDAD PUBLICA DEL ESTADO</option>
					<option value="273">INSTITUTO TECNOLOGICO DENTAL</option>
					<option value="189">INSTITUTO TERESITA MUÑOZ</option>
					<option value="150">INSTITUTO VANGUARDIA DE HERMOSILLO, A.C. PLANTEL COLOSIO</option>
					<option value="151">INSTITUTO VANGUARDIA DE HERMOSILLO, A.C. PLANTEL PITIC</option>
					<option value="223">INSTITUTO WEBSTER, A.C.</option>
					<option value="174">LICEO SAN AGUSTIN, A.C.</option>
					<option value="148">LICEO THEZIA</option>
					<option value="208">MARIA YOLANDA ANDRADE ANTELO</option>
					<option value="195">MONTESSOURI CORHALLI</option>
					<option value="185">MULTIVERSIDAD LATINOAMERICANA A.C. CAMPUS HERMOSILLO NORTE</option>
					<option value="186">MULTIVERSIDAD LATINOAMERICANA A.C. CAMPUS HERMOSILLO SUR</option>
					<option value="277">MUSIC EDUCATION CENTER</option>
					<option value="173">PREPARARORIA GRIMAC AGUA PRIETA</option>
					<option value="202">PREPARARORIA TECNOLOGICA RIO COLORADO</option>
					<option value="255">PREPARATORIA   UNIDEP, UNIDAD EMPALME</option>
					<option value="258">PREPARATORIA  UNIDEP, UNIDAD AGUA PRIETA</option>
					<option value="254">PREPARATORIA  UNIDEP, UNIDAD GUAYMAS</option>
					<option value="256">PREPARATORIA  UNIDEP, UNIDAD NAVOJOA</option>
					<option value="257">PREPARATORIA  UNIDEP, UNIDAD NOGALES</option>
					<option value="261">PREPARATORIA  UNIDEP, UNIDAD OBREGON</option>
					<option value="259">PREPARATORIA  UNIDEP, UNIDAD PUERTO PEÑASCO</option>
					<option value="260">PREPARATORIA  UNIDEP, UNIDAD SLRC</option>
					<option value="206">PREPARATORIA CIMA I.A.P.</option>
					<option value="191">PREPARATORIA COLEGIO NAVARRETE</option>
					<option value="266">PREPARATORIA DE LA UVM NOGALES</option>
					<option value="192">PREPARATORIA DEL PACIFICO ICAM S.C.</option>
					<option value="198">PREPARATORIA DR. BRAULIO PEREZ MARCIO</option>
					<option value="233">PREPARATORIA EDUCATIVA PIRAMIDE DEL SOL</option>
					<option value="216">PREPARATORIA ESPINOSA, S.C.</option>
					<option value="172">PREPARATORIA GRIMAC NOGALES</option>
					<option value="171">PREPARATORIA GRIMAC SLRC</option>
					<option value="225">PREPARATORIA GRIMAC, A.C. </option>
					<option value="226">PREPARATORIA GRIMAC, A.C.  EXT. IMURIS</option>
					<option value="158">PREPARATORIA HNOS. FLORES MAGON</option>
					<option value="187">PREPARATORIA INSTITUTO SISTEMA EMPRESA INTELIGENTE</option>
					<option value="265">PREPARATORIA INTERAMERICANA DE GUAYMAS</option>
					<option value="249">PREPARATORIA KINO</option>
					<option value="230">PREPARATORIA KINO CABORCA</option>
					<option value="229">PREPARATORIA KINO MAGDALENA</option>
					<option value="250">PREPARATORIA KINO UNIDAD GUAYMAS</option>
					<option value="197">PREPARATORIA LARREA</option>
					<option value="218">PREPARATORIA METROPOLITANA DE CAJEME, S.C.</option>
					<option value="217">PREPARATORIA NOCTURNA ENRIQUE  C. REBSAMEN, A.C.</option>
					<option value="132">PREPARATORIA OBREGON</option>
					<option value="224">PREPARATORIA PEDRO DE GANTE</option>
					<option value="222">PREPARATORIA POR COOPERACION DE EL CITAVARO</option>
					<option value="231">PREPARATORIA POR COOPERACION SIN FRONTERAS</option>
					<option value="178">PREPARATORIA SAN JUAN BAUTISTA DE LA SALLE</option>
					<option value="220">PREPARATORIA SANTA FE, S.C.</option>
					<option value="188">PREPARATORIA SENDA 2000</option>
					<option value="176">PREPARATORIA UNEPROP</option>
					<option value="253">PREPARATORIA UNIDEP, UNIDAD HERMOSILLO</option>
					<option value="182">PREPARATORIA UNO NOGALES SONORA A.C.</option>
					<option value="162">SISTEMA EDUCATIVO MUÑOZ</option>
					<option value="194">SISTEMA EDUCATIVO MUÑOZ UNIDAD NOGALES</option>
					<option value="248">UVM</option>
					<option selected="selected" value="Seleccione...">Seleccione...</option>

				</select>
				</div>
				<div class="form-group col-md-6">
					<label for="">Especialidad</label>
					<input type="text" class="form-control" id="" name="Especialidad" placeholder="Especialidad"
					[(ngModel)]='nuevoAlumno.Especialidad' #Especialidad='ngModel' autocomplete="off">
				</div>
				<div class="form-group col-md-2">
					<label for="">PromedionFinal</label>
					<input type="text" class="form-control" id="" name="PromedioFinal" placeholder="Promedio Final"
					[(ngModel)]='nuevoAlumno.PromedioFinal' #PromedioFinal='ngModel' autocomplete="off">
					<span class="">...al semestre: </span>
                    <select name="Semestre" id="carrera" class="form-control" [(ngModel)]='nuevoAlumno.Semestre'>
						<option selected="selected" value="5">5</option>
						<option value="6">6</option>

					</select>


					
				</div>


				<legend>Carrera que solicita</legend>
				<div class="form-group col-md-6">
					<label for="carrera">Carrera</label>
					<select class="form-control" id="carrera" name="carrera"
					[(ngModel)]='nuevoAlumno._carrera' required>
					    <option *ngFor="let carrera of Carreras"
					    [value]="carrera._id">
					    	{{carrera.nombre}}
					    </option>
					  </select>
				</div>

				<legend>¿En que turno se le facilita asistir a una entrevista?</legend>
				<div class="form-group col-md-6">
					<label for="">Turno</label>
					<select name="TurnoParaEntrevist" id="" class="form-control" [(ngModel)]='nuevoAlumno.TurnoParaEntrevist'>
							<option selected="selected" value="Seleccione...">Seleccione...</option>
							<option value="MATUTINO">MATUTINO</option>
							<option value="VESPERTINO">VESPERTINO</option>

						</select>
				</div>

				<legend>Para finalizar el proceso</legend>
				<div class="form-group col-md-6">
					<label for="">¿Cómo te enteraste de la Universidad Tecnológica de Puerto Peñasco?</label>
					<select name="Medios" id="" class="form-control" [(ngModel)]='nuevoAlumno.Medios'>
							<option selected="selected" value="Seleccione...">Seleccione...</option>
							<option value="Anuncio de Radio">Anuncio de Radio</option>
							<option value="Mediante Facebook">Mediante Facebook</option>
							<option value="La UTPP visito mi escuela">La UTPP visito mi escuela</option>
							<option value="Un familiar es estudiante">Un familiar es estudiante</option>
							<option value="Un familiar es egresado">Un familiar es egresado</option>
							<option value="Un familiar labora en la UTPP">Un familiar labora en la UTPP</option>
							<option value="Recomendación de un amigo">Recomendación de un amigo</option>
							

						</select>


				</div>
				<div class="form-group col-md-6">
					<label for="">¿Cuantas Instituciones consideraste para cursar tus estudios de nivel superior?</label>
					 <select name="NumInstitucionesConsidera" id="" class="form-control" [(ngModel)]='nuevoAlumno.NumInstitucionesConsidera'>
							<option selected="selected" value="Seleccione...">Seleccione...</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>

						</select>

				</div>
				<div class="form-group col-md-6">
					<label for="">¿Porque decidiste continuar tus estudios en la Universidad Tecnológica de Puerto Peñasco?</label>
					<input type="text" class="form-control" id="" name="JustificacionDeEleccion" placeholder="Respuesta"
					[(ngModel)]='nuevoAlumno.JustificacionDeEleccion' #JustificacionDeEleccion='ngModel' autocomplete="off">
				</div>

				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">
						Enviar
					</button> 
					
					<span class="btn btn-success"
					(click)='confirmarInscripcion()'
					*ngIf='showInscribirButton()'>
						Inscribir
					</span>
				</div>
			</div>
		</form>
	</div>
</div>

<div>
		<label for="documento">Documento: </label>
        <input type="file" name="documento" id="documento" ng2FileSelect [uploader]="uploader" />
        <!--<select id="tipo" name="tipo" class="form-control" 
        (change)="cambioTipo($event.target.value)">
        	<option value="acta">Acta</option>
  			<option value="constancia">Constancia</option>
        </select>-->
        <select id="tipoDocumento" name="tipoDocumento" required 
        (change)="cambioTipo($event.target.value)">
		  <option *ngFor="let t of tipos" [value]="t">{{t | uppercase}}</option>
		</select>
        <input type='submit' value='Cargar' (click)="uploader.uploadAll()"/>
</div>

<div>
	<ng-container  *ngFor="let t of existeDocumento">
		<a *ngIf="t.existe" target="_blank" 
		href="http://localhost:8000/api/descargarDocumento/{{nuevoAlumno._id}}/{{t.tipo}}">{{t.tipo}}</a>
	</ng-container>
</div>



<!--Listado de pagos-->
<div class="panel panel-primary" *ngIf='nuevoAlumno.depositos'>
	<div class="panel-heading">
		<h3 class="panel-title">Listado de pagos</h3>
	</div>
	<div class="panel-body">
		<table class="table table-hover table-stripped">
			<thead>
				<tr>
					<th>Monto</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody >
				<tr *ngFor='let deposito of nuevoAlumno.depositos'>
					<td>{{deposito.monto}}</td>
					<td>{{deposito.concepto}}</td>
					<td>{{deposito.fecha}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>
</div>